# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
*.moved-aside
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Instruments
*.trace

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# AppCode
.idea/

# Coverage
*.gcno
*.gcda
*.gcov

# Logs
*.log
